In [131]:
# Read the variable maps back in and work on cleaning up/sorting:
import json

with open('variables-ds2.json', 'r') as fp:
    var_dict = json.load(fp)

In [132]:
print(json.dumps(var_dict, indent=4))

{
    "MANONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "MANONSA": {
        "4": "-",
        "5": "-",
        "7": "-",
        "9": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "51": "-",
        "54": "-",
        "Sysmiss": "-"
    },
    "MANREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "MANRECA": {
        "13": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "54": "-",
        "Sysmiss": "-"
    },
    "DEPONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Month",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "DEPONSA": {
        "4": "-",
        "5": "-",
        "6": "-",
        "7": "-",
        "8": "-",
        "9": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "Sysmiss": "-"
    },
    "DEPREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "DEPRECA": {
        "7": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "53": "-",
        "54": "-",
        "Sysmiss": "-"
    },
    "DYSONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Month",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "DYSONSA": {
        "3": "-",
        "4": "-",
        "6": "-",
        "7": "-",
        "8": "-",
        "9": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "Sysmiss": "-"
    },
    "DYSREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "DYSRECA": {
        "9": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "53": "-",
        "54": "-",
        "Sysmiss": "-"
    },
    "GADONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "GADONSA": {
        "3": "-",
        "4": "-",
        "5": "-",
        "6": "-",
        "7": "-",
        "8": "-",
        "9": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-"
    },
    "GADREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "GADRECA": {
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "53": "-",
        "54": "-",
        "58": "-",
        "Sysmiss": "-"
    },
    "PTONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "PTONSA": {
        "2": "-",
        "3": "-",
        "4": "-",
        "5": "-",
        "6": "-",
        "7": "-",
        "8": "-",
        "9": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "50": "-",
        "51": "-",
        "Sysmiss": "-"
    },
    "PTREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "PTRECA": {
        "8": "-",
        "10": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "53": "-",
        "54": "-",
        "Sysmiss": "-"
    },
    "PDONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "PDONSA": {
        "4": "-",
        "5": "-",
        "6": "-",
        "7": "-",
        "8": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "Sysmiss": "-"
    },
    "PDREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Month",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "PDRECA": {
        "10": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "53": "-",
        "54": "-",
        "Sysmiss": "-"
    },
    "AGONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "AGONSA": {
        "3": "-",
        "4": "-",
        "5": "-",
        "6": "-",
        "7": "-",
        "8": "-",
        "9": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "45": "-",
        "47": "-",
        "48": "-",
        "50": "-",
        "51": "-",
        "Sysmiss": "-"
    },
    "AGREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "AGRECA": {
        "6": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "53": "-",
        "54": "-",
        "Sysmiss": "-"
    },
    "SIMONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "SIMONSA": {
        "1": "-",
        "2": "-",
        "3": "-",
        "4": "-",
        "5": "-",
        "6": "-",
        "7": "-",
        "8": "-",
        "9": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "49": "-",
        "51": "-",
        "52": "-"
    },
    "SIMREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "SIMRECA": {
        "5": "-",
        "7": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "53": "-",
        "54": "-",
        "58": "-",
        "Sysmiss": "-"
    },
    "SOCONS": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "SOCONSA": {
        "1": "-",
        "2": "-",
        "3": "-",
        "4": "-",
        "5": "-",
        "6": "-",
        "7": "-",
        "8": "-",
        "9": "-",
        "10": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "45": "-",
        "46": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "52": "-",
        "53": "-"
    },
    "SOCREC": {
        "1": "<= 1 Month",
        "2": ">1 Month & <=6 Months",
        "3": ">6 Months & <= 1 Year",
        "4": "> 1 Year",
        "Sysmiss": "-"
    },
    "SOCRECA": {
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",
        "32": "-",
        "33": "-",
        "34": "-",
        "35": "-",
        "36": "-",
        "37": "-",
        "38": "-",
        "39": "-",
        "40": "-",
        "41": "-",
        "42": "-",
        "43": "-",
        "44": "-",
        "45": "-",
        "46": "-",
        "47": "-",
        "48": "-",
        "49": "-",
        "50": "-",
        "51": "-",
        "52": "-",
        "53": "-",
        "54": "-",
        "55": "-",
        "Sysmiss": "-"
    },
    "ALCDONSA": {
        "9": "-",
        "11": "-",
        "12": "-",
        "13": "-",
        "14": "-",
        "15": "-",
        "16": "-",
        "17": "-",
        "18": "-",
        "19": "-",
        "20": "-",
        "21": "-",
        "22": "-",
        "23": "-",
        "24": "-",
        "25": "-",
        "26": "-",
        "27": "-",
        "28": "-",
        "29": "-",
        "30": "-",
        "31": "-",

In [133]:
import numpy as np

In [134]:
def try_to_classify_variables(variables_dict):
    diagnosis = set(['Absent', 'Present'])
    yes_or_no = set(['Yes', 'No'])
    history = set(['Year', 'Month'])
    
    variable_type = {
        'yes_or_no': [],
        'diagnosis': [],
        'history': [],
        'maybe_numerical': [],
        'unsure': [],
    }
    
    new_variable_dict = {}

    for variable in variables_dict.keys():
        v_dict = variables_dict[variable]
        # remove any dashes from values
        reduced_dict = {int(key):value for key, value in v_dict.items() if value != "-"}
        
        # is the dictionary empty after reduction?
        if not reduced_dict:
            variable_type['maybe_numerical'].append(variable)
        else:
            value_words = {word for value in v_dict.values() for word in value.split()}
            print(variable, value_words)
            if value_words == yes_or_no:
                variable_type['yes_or_no'].append(variable)
            elif not diagnosis.isdisjoint(value_words):
                variable_type['diagnosis'].append(variable)
            elif not history.isdisjoint(value_words):
                variable_type['history'].append(variable)
            else:
                variable_type['unsure'].append(variable)
        
        new_variable_dict[variable] = reduced_dict

    return new_variable_dict, variable_type

In [135]:
new_variable_dict, var_types = try_to_classify_variables(var_dict)

MANONS {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
MANREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
DEPONS {'>', '<=', '&', 'Month', '>1', '1', '>6', '<=6', 'Months', 'Year', '-'}
DEPREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
DYSONS {'>', '<=', '&', 'Month', '>1', '1', '>6', '<=6', 'Months', 'Year', '-'}
DYSREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
GADONS {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
GADREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
PTONS {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
PTREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
PDONS {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
PDREC {'>', '<=', '&', 'Month', '>1', '1', '>6', '<=6', 'Months', 'Year', '-'}
AGONS {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
AGREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
SIMONS {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
SIMREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
SOCONS {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
SOCREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
ALCDREC {'>', '<=', '&', 'NA', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year'}
ALCAREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
DRGDREC {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
DRGAREC {'>', '<=', '&', 'Month', '>1', '1', '>6', '<=6', 'Months', 'Year', '-'}
PTSDONS {'>', '<=', '&', 'Month', '>1', '1', 'Months', '<=6', '>6', 'Year', '-'}
PTSDREC {'>', '<=', '&', 'Month', '>1', '1', '>6', '<=6', 'Months', 'Year', '-'}
SEXF {'Yes', 'No'}
NAPREC {'>', '<=', '&', 'Month', '>1', '1', '>6', '<=6', 'Months', 'Year', '-'}
ALCALT1 {'Absent', 'Present'}
ALCALT2 {'Absent', 'Present'}
ALCDLT {'Absent', 'Present'}
DRGALT1 {'Absent', 'Present'}
DRGALT2 {'Absent', 'Present'}
DRGDLT {'Absent', 'Present'}
DEPLT1 {'Absent', 'Present'}
DEPLT2 {'Absent', 'Present'}
DYSLT1 {'Absent', 'Present'}
DYSLT2 {'Absent', 'Present'}
BP1LT1 {'Absent', 'Present'}
BP1LT2 {'Absent', 'Present'}
MANLT1 {'Absent', 'Present'}
MANLT2 {'Absent', 'Present'}
GADLT1 {'Absent', 'Present'}
GADLT2 {'Absent', 'Present'}
SOCLT {'Absent', 'Present'}
SIMLT {'Absent', 'Present'}
PDLT {'Absent', 'Present'}
PTLT {'Absent', 'Present'}
AGOLT1 {'Absent', 'Present'}
AGOLT2 {'Absent', 'Present'}
PTSDLT {'Absent', 'Present'}
NAPLT {'Absent', 'Present'}
NAPONS {'>', '&', '<=', 'Month', '>1', '>6', 'Months', '<=6', '1', 'Year', '-'}
AABLT {'Absent', 'Present'}
CDLT {'Absent', 'Present'}
ASPLT1 {'Absent', 'Present'}
ASPLT2 {'Absent', 'Present'}
NAPYR {'Absent', 'Present'}
NAP6M {'Absent', 'Present'}
NAP1M {'Absent', 'Present'}
ALCDYR1 {'Absent', 'Present'}
ALCDYR2 {'Absent', 'Present'}
DRGDYR1 {'Absent', 'Present'}
DRGDYR2 {'Absent', 'Present'}
ALCAYR3 {'Absent', 'Present'}
ALCAYR2 {'Absent', 'Present'}
ALCAYR1 {'Absent', 'Present'}
DRGAYR3 {'Absent', 'Present'}
DRGAYR2 {'Absent', 'Present'}
DRGAYR1 {'Absent', 'Present'}
DEPYR1 {'Absent', 'Present'}
DEPYR2 {'Absent', 'Present'}
BP1YR1 {'Absent', 'Present'}
BP1YR2 {'Absent', 'Present'}
MANYR1 {'Absent', 'Present'}
MANYR2 {'Absent', 'Present'}
DYSYR1 {'Absent', 'Present'}
DYSYR2 {'Absent', 'Present'}
PDYR {'Absent', 'Present'}
PTYR {'Absent', 'Present'}
AGOYR1 {'Absent', 'Present'}
AGOYR2 {'Absent', 'Present'}
SOCYR {'Absent', 'Present'}
SIMYR {'Absent', 'Present'}
GADYR1 {'Absent', 'Present'}
GADYR2 {'Absent', 'Present'}
PTSDYR {'Absent', 'Present'}
DEP6M1 {'Absent', 'Present'}
DEP6M2 {'Absent', 'Present'}
BP16M1 {'Absent', 'Present'}
BP16M2 {'Absent', 'Present'}
MAN6M1 {'Absent', 'Present'}
MAN6M2 {'Absent', 'Present'}
DYS6M1 {'Absent', 'Present'}
DYS6M2 {'Absent', 'Present'}
PD6M {'Absent', 'Present'}
PT6M {'Absent', 'Present'}
AGO6M1 {'Absent', 'Present'}
AGO6M2 {'Absent', 'Present'}
SOC6M {'Absent', 'Present'}
SIM6M {'Absent', 'Present'}
GAD6M1 {'Absent', 'Present'}
GAD6M2 {'Absent', 'Present'}
PTSD6M {'Absent', 'Present'}
DEP1M1 {'Absent', 'Present'}
DEP1M2 {'Absent', 'Present'}
BP11M1 {'Absent', 'Present'}
BP11M2 {'Absent', 'Present'}
MAN1M1 {'Absent', 'Present'}
MAN1M2 {'Absent', 'Present'}
DYS1M1 {'Absent', 'Present'}
DYS1M2 {'Absent', 'Present'}
PD1M {'Absent', 'Present'}
PT1M {'Absent', 'Present'}
AGO1M1 {'Absent', 'Present'}
AGO1M2 {'Absent', 'Present'}
SOC1M {'Absent', 'Present'}
SIM1M {'Absent', 'Present'}
GAD1M1 {'Absent', 'Present'}
GAD1M2 {'Absent', 'Present'}
PTSD1M {'Absent', 'Present'}
R4EG {'Midwest', 'South', 'Northeast', 'West'}
SEX {'Male', 'Female'}
HHCOMP {'alone', 'R', 'single', 'Respondent', 'children', 'w/parents;', 'lives', 'if', 'siblings', 'app.', 'Other,', 'parent', 'including', 'ap', 'w/spouse/partner;'}
EDCAT {'13-15', 'Years', '16+', '12', '0-11'}
OLDAGCAT {'35-44', '45-54', '15-24', '25-34', 'Age'}
SEASON {'(Dec-Feb)', '(Sept.-Nov.)', 'Spring', '(June-Aug.)', 'Summer', 'Fall', '(March-May)', 'Winter'}
MARSTAT {'Marcoh', 'Marnev', 'Marswd'}
REL {'Protestant', 'Other', 'No', 'Preference,', 'Catholic', 'None'}
RACE {'Black', 'White', 'Other', 'Hispanic'}
SELFEMP2 {'Yes', 'No'}
INCOME {'$8,999', '$5,999', '$12,499', '$8,000', '$19,999', '$100,000+', '$24,999', '$3,999', '$9,000', '$25,000', '$1,000', '$5,000', '$6,999', '$15,000', '$17,500', '$35,000', 'and', '$7,999', '$70,000', '$4,999', '$14,999', '$10,999', '$7,000', '$4,000', '$69,999', '$2,999', '$10,000', '$20,000', '$50,000', '$17,499', '$34,999', '$11,000', '-', '$2,000', 'income', '$12,500', '$49,999', '$9,999', 'No', '$1,999', '$6,000', '$3,000', '$99,999', 'under'}
SEXM {'Yes', 'No'}
OLDAG15 {'Yes', 'No'}
OLDAG25 {'Yes', 'No'}
OLDAG35 {'Yes', 'No'}
OLDAG45 {'Yes', 'No'}
RWH {'Yes', 'No'}
RBL {'Yes', 'No'}
RHSP {'Yes', 'No'}
ROTHR {'Yes', 'No'}
ED011 {'Yes', 'No'}
ED12 {'Yes', 'No'}
ED1315 {'Yes', 'No'}
ED16 {'Yes', 'No'}
IN0119 {'Yes', 'No'}
IN2034 {'Yes', 'No'}
IN3569 {'Yes', 'No'}
MARCOH {'Yes', 'No'}
MARSWD {'Yes', 'No'}
MARNEV {'Yes', 'No'}
RELPR {'Yes', 'No'}
RELC {'Yes', 'No'}
RELOTH {'Yes', 'No'}
RELNOPR {'Yes', 'No'}
HHALON {'Absent', 'Present'}
HHSP {'Yes', 'No'}
HHWPAR {'Yes', 'No'}
HHOTHR {'Yes', 'No'}
R4NE {'Yes', 'No'}
R4MW {'Yes', 'No'}
R4S {'Yes', 'No'}
R4W {'Yes', 'No'}
SWIN {'Yes', 'No'}
SSPR {'Yes', 'No'}
SSUM {'Yes', 'No'}
SFAL {'Yes', 'No'}
IN0 {'Yes', 'No'}
IN70 {'Yes', 'No'}
AGCAT {'35-44', '45-54', '15-24', '25-34', 'Age'}
AG15 {'Yes', 'No'}
AG25 {'Yes', 'No'}
AG35 {'Yes', 'No'}
AG45 {'Yes', 'No'}
INCAT {'$20,000', '$70,000', '$19,999', '$69,999', '$34,999', '$0', '-', '$35,000'}
IN0019 {'Yes', 'No'}
PVT {'Yes', 'No'}
EMP {'temp.', 'Working,', 'matern./s', 'Other', 'laid', 'incl.', 'Student', 'off,', 'Homemaker'}
EMPST {'Yes', 'No'}
EMPW {'Yes', 'No'}
EMPH {'Yes', 'No'}
EMPOTH {'Yes', 'No'}

In [136]:
len(new_variable_dict)

218

In [137]:
for key, value in var_types.items():
    print(key, len(value))

yes_or_no 48
diagnosis 93
history 26
maybe_numerical 38
unsure 13

In [138]:
var_types['unsure']

['R4EG',
 'SEX',
 'HHCOMP',
 'EDCAT',
 'OLDAGCAT',
 'SEASON',
 'MARSTAT',
 'REL',
 'RACE',
 'INCOME',
 'AGCAT',
 'INCAT',
 'EMP']

In [139]:
with open('variable-types-ds2.json', 'w') as fp:
    json.dump(var_types, fp)

In [140]:
var_types['maybe_numerical']

['MANONSA',
 'MANRECA',
 'DEPONSA',
 'DEPRECA',
 'DYSONSA',
 'DYSRECA',
 'GADONSA',
 'GADRECA',
 'PTONSA',
 'PTRECA',
 'PDONSA',
 'PDRECA',
 'AGONSA',
 'AGRECA',
 'SIMONSA',
 'SIMRECA',
 'SOCONSA',
 'SOCRECA',
 'ALCDONSA',
 'ALCDRECA',
 'ALCAONSA',
 'ALCARECA',
 'DRGDONSA',
 'DRGDRECA',
 'DRGAONSA',
 'DRGARECA',
 'PTSDONSA',
 'AGE',
 'NAPONSA',
 'PTSDRECA',
 'OLDAGE',
 'EDUC',
 'WKHRS',
 'INCDOL',
 'STR',
 'SECU',
 'HHNUM',
 'PVTRT']

In [141]:
import pandas as pd

In [142]:
df_ds2 = pd.read_csv('06693-0002-Data.tsv', delimiter='\t', na_filter=False, na_values='-')

In [143]:
import pymongo

In [144]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [145]:
# Define database and collection
db = client.ncs1_ds2_db
collection = db.variable_maps

In [146]:
def convert_df_labels (df, types, db_collection):
    
    new_df = df.copy()
    
    for key in types.keys():
        if key != 'maybe_numerical':
            for var_name in types[key]:
                var_map = db_collection.find_one({'Name': var_name})['map']
                if type(df[var_name][0]) != str:
                    new_map = {int(key):value for key,value in var_map.items() if key != 'Sysmiss'}
                    new_df[var_name] = df[var_name].map(new_map)
                else:
                    new_map = {key:value for key,value in var_map.items()}
                    new_df[var_name] = df[var_name].map(new_map, na_action=None)

                #new_df[var_name] = df[var_name].map(new_map)
    
    return new_df

In [147]:
new_df_ds2 = convert_df_labels(df_ds2, var_types, collection)

In [148]:
new_df_ds2.head()

,CASEID,MANONS,MANONSA,MANREC,MANRECA,DEPONS,DEPONSA,DEPREC,DEPRECA,DYSONS,...,OLDP2FWT,P2WTV2,PVT,PVTRT,P2WTV3,EMP,EMPST,EMPW,EMPH,EMPOTH
0,10001,NaN,,NaN,,NaN,,NaN,,NaN,...,,,Yes,0.6016,,"Working, incl. temp. laid off, matern./s",No,Yes,No,No
1,10002,NaN,,NaN,,NaN,,NaN,,NaN,...,,,No,2.1321,,"Working, incl. temp. laid off, matern./s",No,Yes,No,No
2,10003,NaN,,NaN,,NaN,,NaN,,NaN,...,,,No,1.3077,,"Working, incl. temp. laid off, matern./s",No,Yes,No,No
3,10004,NaN,,NaN,,NaN,,NaN,,NaN,...,,,Yes,0.7391,,Homemaker,No,No,Yes,No
4,10005,NaN,,NaN,,NaN,,NaN,,NaN,...,,,No,1.2613,,"Working, incl. temp. laid off, matern./s",No,Yes,No,No

In [149]:
new_df_ds2.to_csv("ncs1-ds2.csv", index=False)

In [150]:
new_df_ds2[['AGE', 'EDCAT', 'EMP', 'MARSTAT', 'RACE', 'REL', 'SEX', 'ALCALT1', 'ALCALT2', 'DRGALT1', 'DRGALT2']].head()

,AGE,EDCAT,EMP,MARSTAT,RACE,REL,SEX,ALCALT1,ALCALT2,DRGALT1,DRGALT2
0,26,12 Years,"Working, incl. temp. laid off, matern./s",Marnev,Hispanic,Catholic,Female,Absent,Absent,Absent,Absent
1,44,16+ Years,"Working, incl. temp. laid off, matern./s",Marswd,Black,Protestant,Female,Absent,Absent,Absent,Absent
2,53,0-11 Years,"Working, incl. temp. laid off, matern./s",Marcoh,Black,Protestant,Female,Absent,Absent,Absent,Absent
3,41,13-15 Years,Homemaker,Marswd,White,Protestant,Male,Absent,Absent,Absent,Absent
4,28,12 Years,"Working, incl. temp. laid off, matern./s",Marcoh,White,Catholic,Male,Absent,Absent,Absent,Absent

In [151]:
demographic_df = new_df_ds2[['CASEID', 'AGE', 'EDCAT', 'EMP', 'MARSTAT', 'RACE', 'REL', 'SEX', 'ALCALT1', 'ALCALT2', 'DRGALT1', 'DRGALT2']]

In [152]:
demographic_df.describe()

             CASEID          AGE
count   8098.000000  8098.000000
mean   19828.982341    33.729563
std     5464.512327    10.435057
min    10001.000000    15.000000
25%    12025.250000    26.000000
50%    21907.500000    33.000000
75%    23931.750000    42.000000
max    25956.000000    61.000000

In [153]:
new_df_ds2.MANONS.value_counts()

> 1 Year                 149
>6 Months & <= 1 Year     10
<= 1 Month                 9
>1 Month & <=6 Months      8
Name: MANONS, dtype: int64

In [154]:
np.where(new_df_ds2.isna().sum() != 0)

(array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
        35, 41, 44, 47, 50, 51, 56, 81], dtype=int64),)

In [155]:
missing_cols = new_df_ds2.columns[np.where(new_df_ds2.isna().sum() != 0)]

In [157]:
df_ds1 = pd.read_csv("ncs1-ds1.csv")

C:\Users\dadra\anaconda\Anaconda3\envs\PythonWebMongo\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1577,1613,1633,1634,1637,1640,1643,1646,1649,1652,1655,1684,1685,1686,1694,1696,1697,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2017,2018,2019,2020,2021,2022,2024,2025,2026,2027,2028,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2051,2052,2053,2054,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2341,2342,2344,2345,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2369,2370,2371,2372,2373,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2830,2831,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [161]:
%whos

Variable                    Type             Data/Info
------------------------------------------------------
client                      MongoClient      MongoClient(host=['localh<...>ware=False, connect=True)
col                         str              MANONS
collection                  Collection       Collection(Database(Mongo<...>s2_db'), 'variable_maps')
conn                        str              mongodb://localhost:27017
convert_df_labels           function         <function convert_df_labe<...>ls at 0x000002C388A0A6A8>
db                          Database         Database(MongoClient(host<...>ect=True), 'ncs1_ds2_db')
demographic_df              DataFrame              CASEID  AGE        <...>n[8098 rows x 12 columns]
df_ds1                      DataFrame              CASEID        V2  V<...>8098 rows x 2954 columns]
df_ds2                      DataFrame              CASEID MANONS MANON<...>[8098 rows x 224 columns]
fp                          TextIOWrapper    <_io.TextIOWrapper name='<...>de='w' encoding='cp1252'>
json                        module           <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>
key                         str              unsure
missing_cols                Index            Index(['MANONS', 'MANREC'<...>],\n      dtype='object')
new_df_ds2                  DataFrame              CASEID    MANONS MA<...>[8098 rows x 224 columns]
new_variable_dict           dict             n=218
np                          module           <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd                          module           <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
pymongo                     module           <module 'pymongo' from 'C<...>s\\pymongo\\__init__.py'>
try_to_classify_variables   function         <function try_to_classify<...>es at 0x000002C38817B1E0>
value                       list             n=13
var_dict                    dict             n=218
var_types                   dict             n=5

In [193]:
joined_df = df_ds1.merge(new_df_ds2, on='CASEID', lsuffix='ds1')

TypeError: merge() got an unexpected keyword argument 'lsuffix'

In [194]:
new_df_ds2['EDCAT']

0          12 Years
1         16+ Years
2        0-11 Years
3       13-15 Years
4          12 Years
5         16+ Years
6          12 Years
7         16+ Years
8          12 Years
9          12 Years
10         12 Years
11         12 Years
12       0-11 Years
13        16+ Years
14        16+ Years
15         12 Years
16        16+ Years
17         12 Years
18        16+ Years
19         12 Years
20        16+ Years
21        16+ Years
22        16+ Years
23        16+ Years
24      13-15 Years
25       0-11 Years
26      13-15 Years
27      13-15 Years
28         12 Years
29         12 Years
           ...
8068     0-11 Years
8069     0-11 Years
8070    13-15 Years
8071      16+ Years
8072      16+ Years
8073       12 Years
8074    13-15 Years
8075     0-11 Years
8076    13-15 Years
8077    13-15 Years
8078       12 Years
8079    13-15 Years
8080     0-11 Years
8081      16+ Years
8082       12 Years
8083      16+ Years
8084    13-15 Years
8085      16+ Years
8086       12 Years
8087    13-15 Years
8088       12 Years
8089    13-15 Years
8090     0-11 Years
8091       12 Years
8092     0-11 Years
8093     0-11 Years
8094    13-15 Years
8095      16+ Years
8096      16+ Years
8097      16+ Years
Name: EDCAT, Length: 8098, dtype: object

In [195]:
DS2_suicide_factors = ['EDCAT', 'RACE', 'EMP', 'AGE', 'MARSTAT', 'REL', 'SEX', 'DEPREC', 'ALCALT1', 'ALCALT2', 'DRGALT2', 'DRGALT1']
DS1_suicide_factors = ['V5114', 'V5118', 'V5113', 
                      'V5115', 'V5112', 'V4428', 'V4433', 'V6305', 'V6301', 
                      'V5225', 'V6649', 'V6749', 'V5918', 'V6143', 'V6126', 
                      'V6114', 'V101', 'V102', 'V6215']
DS1_response = ['V1144']

interest_vars = DS1_response + DS1_suicide_factors + DS2_suicide_factors
interest_vars

['V1144',
 'V5114',
 'V5118',
 'V5113',
 'V5115',
 'V5112',
 'V4428',
 'V4433',
 'V6305',
 'V6301',
 'V5225',
 'V6649',
 'V6749',
 'V5918',
 'V6143',
 'V6126',
 'V6114',
 'V101',
 'V102',
 'V6215',
 'EDCAT',
 'RACE',
 'EMP',
 'AGE',
 'MARSTAT',
 'REL',
 'SEX',
 'DEPREC',
 'ALCALT1',
 'ALCALT2',
 'DRGALT2',
 'DRGALT1']

In [196]:
for col in interest_vars:
    print(joined_df[col].value_counts())

NO      4201
INAP    3511
YES      379
Name: V1144, dtype: int64
A LITTLE      2579
SOMEWHAT      1548
NOT AT ALL    1340
VERY           391
INAP            67
DK               2
Name: V5114, dtype: int64
NOT AT ALL    2871
A LITTLE      2217
SOMEWHAT       629
VERY           131
INAP            67
DK               3
Name: V5118, dtype: int64
A LITTLE      2828
SOMEWHAT      1342
NOT AT ALL    1294
VERY           404
INAP            67
Name: V5113, dtype: int64
A LITTLE      3056
SOMEWHAT      1287
NOT AT ALL    1273
VERY           249
INAP            67
DK               1
Name: V5115, dtype: int64
A LITTLE      2624
SOMEWHAT      1717
NOT AT ALL    1047
VERY           486
INAP            67
DK               2
Name: V5112, dtype: int64
A LITTLE TRUE      2170
SOMEWHAT TRUE      1397
NOT TRUE AT ALL    1353
VERY TRUE           936
INAP                 53
DK                    1
Name: V4428, dtype: int64
NOT TRUE AT ALL    2725
A LITTLE TRUE      1621
SOMEWHAT TRUE       895
VERY TRUE           561
INAP                 53
DK                    1
Name: V4433, dtype: int64
NO      5541
YES      313
INAP      80
Name: V6305, dtype: int64
NO      4865
YES     1008
INAP      80
Name: V6301, dtype: int64
INAP          4095
NOT AT ALL     670
A LITTLE       417
SOME           412
A LOT          329
Name: V5225, dtype: int64
NO      5050
INAP     475
DK       322
YES       90
Name: V6649, dtype: int64
NO      5382
YES      214
INAP     193
DK       149
Name: V6749, dtype: int64
NEVER        4018
RARELY        993
SOMETIMES     642
OFTEN         222
INAP           65
Name: V5918, dtype: int64
NO      5459
YES      348
INAP      80
Name: V6143, dtype: int64
NO      5325
YES      544
INAP      80
DK         1
Name: V6126, dtype: int64
NO      5539
YES      334
INAP      80
DK         1
Name: V6114, dtype: int64
VERY GOOD    3151
GOOD         2261
EXCELLENT    1880
FAIR          659
POOR          145
Name: V101, dtype: int64
VERY GOOD    3120
EXCELLENT    2529
GOOD         1876
FAIR          501
POOR           69
Name: V102, dtype: int64
ALL OTHERS                             2188
TWO OR MORE YES RESPONSES IN U1-U12    2113
ONLY ONE YES RESPONSE IN U1-U12        1575
INAP                                     80
Name: V6215, dtype: int64
Series([], Name: EDCAT, dtype: int64)
Series([], Name: RACE, dtype: int64)
Series([], Name: EMP, dtype: int64)
Series([], Name: AGE, dtype: int64)
Series([], Name: MARSTAT, dtype: int64)
Series([], Name: REL, dtype: int64)
Series([], Name: SEX, dtype: int64)
Series([], Name: DEPREC, dtype: int64)
Series([], Name: ALCALT1, dtype: int64)
Series([], Name: ALCALT2, dtype: int64)
Series([], Name: DRGALT2, dtype: int64)
Series([], Name: DRGALT1, dtype: int64)

In [198]:
new_df_ds2.AGE

0       26
1       44
2       53
3       41
4       28
5       37
6       54
7       41
8       46
9       52
10      26
11      48
12      48
13      45
14      31
15      47
16      40
17      34
18      31
19      42
20      52
21      50
22      43
23      51
24      46
25      54
26      41
27      34
28      28
29      46
        ..
8068    54
8069    16
8070    35
8071    31
8072    27
8073    20
8074    23
8075    33
8076    27
8077    24
8078    18
8079    22
8080    17
8081    26
8082    29
8083    38
8084    32
8085    27
8086    24
8087    30
8088    29
8089    40
8090    25
8091    34
8092    15
8093    15
8094    33
8095    31
8096    48
8097    27
Name: AGE, Length: 8098, dtype: int64

In [199]:
new_df_ds2['MARSTAT'].value_counts()

Marcoh    4410
Marnev    2435
Marswd    1253
Name: MARSTAT, dtype: int64

In [192]:
type(df_ds1['CASEID'][0])

numpy.int64

In [200]:
new_df_ds2.dtypes

CASEID        int64
MANONS       object
MANONSA      object
MANREC       object
MANRECA      object
DEPONS       object
DEPONSA      object
DEPREC       object
DEPRECA      object
DYSONS       object
DYSONSA      object
DYSREC       object
DYSRECA      object
GADONS       object
GADONSA      object
GADREC       object
GADRECA      object
PTONS        object
PTONSA       object
PTREC        object
PTRECA       object
PDONS        object
PDONSA       object
PDREC        object
PDRECA       object
AGONS        object
AGONSA       object
AGREC        object
AGRECA       object
SIMONS       object
             ...
R4S          object
R4W          object
SWIN         object
SSPR         object
SSUM         object
SFAL         object
IN0          object
IN70         object
INCDOL        int64
INCPERS     float64
STR           int64
SECU          int64
AGCAT        object
AG15         object
AG25         object
AG35         object
AG45         object
INCAT        object
IN0019       object
HHNUM         int64
OLDP2FWT     object
P2WTV2       object
PVT          object
PVTRT       float64
P2WTV3       object
EMP          object
EMPST        object
EMPW         object
EMPH         object
EMPOTH       object
Length: 224, dtype: object

In [201]:
df_ds1.dtypes

CASEID       int64
V2           int64
V3           int64
V4           int64
V5           int64
V6           int64
V7           int64
V8           int64
V9           int64
V10          int64
V11          int64
V12          int64
V13         object
V14         object
V15          int64
V101        object
V102        object
V103        object
V104        object
V105         int64
V106        object
V107        object
V108        object
V109        object
V110        object
V111        object
V112        object
V113        object
V114        object
V201        object
            ...
V7417       object
V7418       object
V7419       object
V7420       object
V7421       object
V7422       object
V7423       object
V7424       object
V7425       object
V7426        int64
V7427       object
V7428       object
V7429       object
V7430       object
V7431       object
V7432       object
V7433       object
V7434       object
V7435       object
V7436       object
V7437       object
V7438       object
V7439       object
V7440       object
V7441       object
V7442       object
P1FWT      float64
P2WTV3     float64
TOBACWT    float64
P2TOBWT    float64
Length: 2954, dtype: object

In [202]:
df_ds1[DS1_suicide_factors].dtypes

V5114    object
V5118    object
V5113    object
V5115    object
V5112    object
V4428    object
V4433    object
V6305    object
V6301    object
V5225    object
V6649    object
V6749    object
V5918    object
V6143    object
V6126    object
V6114    object
V101     object
V102     object
V6215    object
dtype: object

In [205]:
new_df_ds2[DS2_suicide_factors].dtypes

EDCAT      object
RACE       object
EMP        object
AGE         int64
MARSTAT    object
REL        object
SEX        object
DEPREC     object
ALCALT1    object
ALCALT2    object
DRGALT2    object
DRGALT1    object
dtype: object

In [206]:
new_df_ds2['DEPREC'].value_counts()

> 1 Year                 620
<= 1 Month               360
>1 Month & <=6 Months    316
>6 Months & <= 1 Year    160
Name: DEPREC, dtype: int64

In [207]:
joined_df = new_df_ds2.join(df_ds1, on='CASEID', lsuffix='ds2')

In [208]:
joined_df.shape

(8098, 3178)

In [213]:
for col in interest_vars:
    print(joined_df[col].value_counts())

NO      4201
INAP    3511
YES      379
Name: V1144, dtype: int64
A LITTLE      2579
SOMEWHAT      1548
NOT AT ALL    1340
VERY           391
INAP            67
DK               2
Name: V5114, dtype: int64
NOT AT ALL    2871
A LITTLE      2217
SOMEWHAT       629
VERY           131
INAP            67
DK               3
Name: V5118, dtype: int64
A LITTLE      2828
SOMEWHAT      1342
NOT AT ALL    1294
VERY           404
INAP            67
Name: V5113, dtype: int64
A LITTLE      3056
SOMEWHAT      1287
NOT AT ALL    1273
VERY           249
INAP            67
DK               1
Name: V5115, dtype: int64
A LITTLE      2624
SOMEWHAT      1717
NOT AT ALL    1047
VERY           486
INAP            67
DK               2
Name: V5112, dtype: int64
A LITTLE TRUE      2170
SOMEWHAT TRUE      1397
NOT TRUE AT ALL    1353
VERY TRUE           936
INAP                 53
DK                    1
Name: V4428, dtype: int64
NOT TRUE AT ALL    2725
A LITTLE TRUE      1621
SOMEWHAT TRUE       895
VERY TRUE           561
INAP                 53
DK                    1
Name: V4433, dtype: int64
NO      5541
YES      313
INAP      80
Name: V6305, dtype: int64
NO      4865
YES     1008
INAP      80
Name: V6301, dtype: int64
INAP          4095
NOT AT ALL     670
A LITTLE       417
SOME           412
A LOT          329
Name: V5225, dtype: int64
NO      5050
INAP     475
DK       322
YES       90
Name: V6649, dtype: int64
NO      5382
YES      214
INAP     193
DK       149
Name: V6749, dtype: int64
NEVER        4018
RARELY        993
SOMETIMES     642
OFTEN         222
INAP           65
Name: V5918, dtype: int64
NO      5459
YES      348
INAP      80
Name: V6143, dtype: int64
NO      5325
YES      544
INAP      80
DK         1
Name: V6126, dtype: int64
NO      5539
YES      334
INAP      80
DK         1
Name: V6114, dtype: int64
VERY GOOD    3151
GOOD         2261
EXCELLENT    1880
FAIR          659
POOR          145
Name: V101, dtype: int64
VERY GOOD    3120
EXCELLENT    2529
GOOD         1876
FAIR          501
POOR           69
Name: V102, dtype: int64
ALL OTHERS                             2188
TWO OR MORE YES RESPONSES IN U1-U12    2113
ONLY ONE YES RESPONSE IN U1-U12        1575
INAP                                     80
Name: V6215, dtype: int64
12 Years       2679
13-15 Years    2132
16+ Years      1813
0-11 Years     1474
Name: EDCAT, dtype: int64
White       6084
Black       1011
Hispanic     733
Other        270
Name: RACE, dtype: int64
Working, incl. temp. laid off, matern./s    5979
Student                                      840
Homemaker                                    719
Other                                        560
Name: EMP, dtype: int64
30    300
33    298
32    282
31    279
34    277
27    262
37    254
35    248
28    245
36    243
29    238
39    236
26    231
41    230
40    227
25    220
38    220
44    214
24    212
20    197
23    194
42    188
43    182
21    179
22    177
19    169
16    168
17    164
46    162
18    155
48    155
15    154
47    151
45    149
50    148
53    144
52    141
49    138
54    133
51    121
55      7
58      4
56      1
61      1
Name: AGE, dtype: int64
Marcoh    4410
Marnev    2435
Marswd    1253
Name: MARSTAT, dtype: int64
Protestant             4475
Catholic               2250
No Preference, None     780
Other                   593
Name: REL, dtype: int64
Female    4263
Male      3835
Name: SEX, dtype: int64
> 1 Year                 620
<= 1 Month               360
>1 Month & <=6 Months    316
>6 Months & <= 1 Year    160
Name: DEPREC, dtype: int64
Absent     6177
Present    1921
Name: ALCALT1, dtype: int64
Absent     7317
Present     781
Name: ALCALT2, dtype: int64
Absent     7712
Present     386
Name: DRGALT2, dtype: int64
Absent     7154
Present     944
Name: DRGALT1, dtype: int64

In [212]:
joined_df = new_df_ds2.join(df_ds1,lsuffix='ds2')

In [214]:
df_ds1.CASEID.dtypes

dtype('int64')

In [215]:
new_df_ds2.CASEID.dtypes

dtype('int64')

In [216]:
joined_df.shape

(8098, 3178)

In [230]:
sub_df = joined_df[['CASEID'] + interest_vars]

In [231]:
sub_df.head()

,CASEID,V1144,V5114,V5118,V5113,V5115,V5112,V4428,V4433,V6305,...,EMP,AGE,MARSTAT,REL,SEX,DEPREC,ALCALT1,ALCALT2,DRGALT2,DRGALT1
0,10001,INAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Working, incl. temp. laid off, matern./s",26,Marnev,Catholic,Female,NaN,Absent,Absent,Absent,Absent
1,10002,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Working, incl. temp. laid off, matern./s",44,Marswd,Protestant,Female,NaN,Absent,Absent,Absent,Absent
2,10003,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Working, incl. temp. laid off, matern./s",53,Marcoh,Protestant,Female,NaN,Absent,Absent,Absent,Absent
3,10004,INAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Homemaker,41,Marswd,Protestant,Male,NaN,Absent,Absent,Absent,Absent
4,10005,INAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Working, incl. temp. laid off, matern./s",28,Marcoh,Catholic,Male,NaN,Absent,Absent,Absent,Absent

In [241]:
sub_df.columns

Index(['CASEID', 'V1144', 'V5114', 'V5118', 'V5113', 'V5115', 'V5112', 'V4428',
       'V4433', 'V6305', 'V6301', 'V5225', 'V6649', 'V6749', 'V5918', 'V6143',
       'V6126', 'V6114', 'V101', 'V102', 'V6215', 'EDCAT', 'RACE', 'EMP',
       'AGE', 'MARSTAT', 'REL', 'SEX', 'DEPREC', 'ALCALT1', 'ALCALT2',
       'DRGALT2', 'DRGALT1'],
      dtype='object')

In [242]:
for col in interest_vars:
    print(col, " : ", sub_df[col].isna().sum())

V1144  :  7
V5114  :  2171
V5118  :  2180
V5113  :  2163
V5115  :  2165
V5112  :  2155
V4428  :  2188
V4433  :  2242
V6305  :  2164
V6301  :  2145
V5225  :  2175
V6649  :  2161
V6749  :  2160
V5918  :  2158
V6143  :  2211
V6126  :  2148
V6114  :  2144
V101  :  2
V102  :  3
V6215  :  2142
EDCAT  :  0
RACE  :  0
EMP  :  0
AGE  :  0
MARSTAT  :  0
REL  :  0
SEX  :  0
DEPREC  :  6642
ALCALT1  :  0
ALCALT2  :  0
DRGALT2  :  0
DRGALT1  :  0

In [235]:
nona_df = sub_df.dropna()

In [236]:
nona_df.shape

(1345, 33)

In [237]:
for col in interest_vars:
    print(col, " : ", nona_df[col].isna().sum())

V1144  :  0
V5114  :  0
V5118  :  0
V5113  :  0
V5115  :  0
V5112  :  0
V4428  :  0
V4433  :  0
V6305  :  0
V6301  :  0
V5225  :  0
V6649  :  0
V6749  :  0
V5918  :  0
V6143  :  0
V6126  :  0
V6114  :  0
V101  :  0
V102  :  0
V6215  :  0
EDCAT  :  0
RACE  :  0
EMP  :  0
AGE  :  0
MARSTAT  :  0
REL  :  0
SEX  :  0
DEPREC  :  0
ALCALT1  :  0
ALCALT2  :  0
DRGALT2  :  0
DRGALT1  :  0

In [238]:
nona_df.to_csv("dropna_join.csv", index=False)

In [240]:
for col in interest_vars:
    print(nona_df[col].value_counts())

NO     1116
YES     229
Name: V1144, dtype: int64
A LITTLE      544
SOMEWHAT      456
NOT AT ALL    181
VERY          153
INAP           11
Name: V5114, dtype: int64
A LITTLE      546
NOT AT ALL    451
SOMEWHAT      259
VERY           77
INAP           11
DK              1
Name: V5118, dtype: int64
A LITTLE      570
SOMEWHAT      419
VERY          178
NOT AT ALL    167
INAP           11
Name: V5113, dtype: int64
A LITTLE      668
SOMEWHAT      401
NOT AT ALL    153
VERY          112
INAP           11
Name: V5115, dtype: int64
SOMEWHAT      525
A LITTLE      492
VERY          205
NOT AT ALL    112
INAP           11
Name: V5112, dtype: int64
A LITTLE TRUE      420
SOMEWHAT TRUE      397
VERY TRUE          347
NOT TRUE AT ALL    170
INAP                11
Name: V4428, dtype: int64
NOT TRUE AT ALL    424
A LITTLE TRUE      368
SOMEWHAT TRUE      302
VERY TRUE          240
INAP                11
Name: V4433, dtype: int64
NO      1152
YES      182
INAP      11
Name: V6305, dtype: int64
NO      805
YES     529
INAP     11
Name: V6301, dtype: int64
INAP          769
NOT AT ALL    169
SOME          162
A LITTLE      129
A LOT         116
Name: V5225, dtype: int64
NO      1104
INAP     113
DK        89
YES       39
Name: V6649, dtype: int64
NO      1152
YES       90
DK        57
INAP      46
Name: V6749, dtype: int64
NEVER        682
SOMETIMES    273
RARELY       262
OFTEN        117
INAP          11
Name: V5918, dtype: int64
NO      1186
YES      148
INAP      11
Name: V6143, dtype: int64
NO      1105
YES      229
INAP      11
Name: V6126, dtype: int64
NO      1175
YES      158
INAP      11
DK         1
Name: V6114, dtype: int64
VERY GOOD    490
GOOD         428
EXCELLENT    226
FAIR         166
POOR          35
Name: V101, dtype: int64
VERY GOOD    500
GOOD         422
EXCELLENT    204
FAIR         184
POOR          35
Name: V102, dtype: int64
TWO OR MORE YES RESPONSES IN U1-U12    676
ONLY ONE YES RESPONSE IN U1-U12        337
ALL OTHERS                             321
INAP                                    11
Name: V6215, dtype: int64
12 Years       417
13-15 Years    410
16+ Years      297
0-11 Years     221
Name: EDCAT, dtype: int64
White       1068
Hispanic     120
Black        116
Other         41
Name: RACE, dtype: int64
Working, incl. temp. laid off, matern./s    958
Homemaker                                   145
Other                                       127
Student                                     115
Name: EMP, dtype: int64
30    61
31    54
29    49
33    49
40    47
38    46
34    44
36    43
37    42
39    41
32    41
27    40
41    39
35    39
22    38
42    37
44    37
20    37
24    34
43    33
25    33
45    32
28    32
26    32
23    29
47    28
52    27
21    25
50    25
19    24
46    23
16    23
54    22
15    21
48    20
49    20
18    20
17    20
53    20
51    16
58     2
Name: AGE, dtype: int64
Marcoh    624
Marnev    399
Marswd    322
Name: MARSTAT, dtype: int64
Protestant             740
Catholic               344
No Preference, None    147
Other                  114
Name: REL, dtype: int64
Female    874
Male      471
Name: SEX, dtype: int64
> 1 Year                 577
<= 1 Month               328
>1 Month & <=6 Months    291
>6 Months & <= 1 Year    149
Name: DEPREC, dtype: int64
Absent     855
Present    490
Name: ALCALT1, dtype: int64
Absent     1184
Present     161
Name: ALCALT2, dtype: int64
Absent     1249
Present      96
Name: DRGALT2, dtype: int64
Absent     1041
Present     304
Name: DRGALT1, dtype: int64

In [243]:
nona_df.columns

Index(['CASEID', 'V1144', 'V5114', 'V5118', 'V5113', 'V5115', 'V5112', 'V4428',
       'V4433', 'V6305', 'V6301', 'V5225', 'V6649', 'V6749', 'V5918', 'V6143',
       'V6126', 'V6114', 'V101', 'V102', 'V6215', 'EDCAT', 'RACE', 'EMP',
       'AGE', 'MARSTAT', 'REL', 'SEX', 'DEPREC', 'ALCALT1', 'ALCALT2',
       'DRGALT2', 'DRGALT1'],
      dtype='object')